# Node.js dependencies
node_modules

# Hardhat build artifacts
artifacts
cache

# Yarn lock file
yarn.lock

# Environment variables
.env

# IDE and editor files
.vscode
.idea

# System files
.DS_Store
Thumbs.db
